.RollBlock {
    width: 100%;
    margin: 20px;
}
.rollOptions {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rollOptions label, input, select {
    margin-left: 5px;
    margin-right: 5px;
}
.rollResults {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rollResults.active {
    display: block
}
.rollResults table {
    background: #404245;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
    border-collapse: collapse;
}
.rollResults th, td {
    padding: 8px; 
}
.rollResults tr {
    border: 2px solid #283745; 
}
.rollResults tbody tr:hover {
    background-color: #aac0cf;
}
